@import "tailwindcss";
@tailwind utilities;

.email-panel {
  display: flex;
  height: 100%;
}

.email-list {
  width: 40%;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.email-item {
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.email-item:hover {
  background-color: #f5f5f5;
  color: black;
}

.email-viewer {
  width: 60%;
  padding: 20px;
}